# **Class Assignment-2**

Create a prime number using for loop and also while loop

In [ ]:
# Using for loop
num = int(input("Enter a number:"))
if num > 1:
  for i in range(2,num):
    if num%i == 0:
      print(num,"is not a Prime Number")
      break
  else:
    print(num,"is a Prime Number")
else:
  print(num,"is not a Prime Number")

Enter a number:5
5 is a Prime Number

In [ ]:
#Using while loop
num = int(input("Enter a number:"))
if num <= 1:
  print(num,"is not a prime number")
else:
  prime = True
  i = 2
  while i < num:
    if num%i == 0:
      prime = False
      break
    i += 1
  print(num,"is a prime number"if prime else "is not a prime number")

Enter a number:6
6 is not a prime

Create a range of tables using while loop

In [ ]:
num1 = int(input("Enter the first number:"))
num2 = int(input("Enter the second number:"))
while num1 <= num2:
  print("Multiplication Table of {}".format(num1))
  i = 1
  while i <= 10:
    print("{} x {} = {}".format(num1,i,(num1*i)))
    i += 1
  num1 += 1

Enter the first number:1
Enter the second number:5
Multiplication Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50