# **Sets**

In [ ]:
x = {"a","b","c"}
print(x)

{'a', 'c', 'b'}

In [ ]:
# Unordered
x = {"a","b","c"}
print(x)

{'a', 'c', 'b'}

In [ ]:
# Unindexed
x = {"a","b","c"}
x[0] = "i"
print(x)
# O/P will be error. 'set' object does not support item assignment

In [ ]:
# Unchangable
x = {"a","b","c"}
x[0] = "i"
print(x)
# O/P will be error. 'set' object does not support item assignment

In [ ]:
# Duplicates Not Allowed
# Duplicate values will be ignored:
# The values True and 1, False and 0 are considered the same value in sets, and are treated as duplicate

x = {"a","b","a",1,0,True,False,"c","d"}
print(x)

{0, 1, 'a', 'd', 'b', 'c'}

## Get the Length of a Set - len()

In [ ]:
x = {"a","b",True,False}
print(len(x))

4

In [ ]:
x = {"a","b",0,1,True,False}
print(len(x))

4

## type()

In [ ]:
x = {"a","b","c",1,0,42.5}
print(type(x))

<class 'set'>

## The set() Constructor

In [ ]:
set1 = set(("a", "b", "c",1,4,True))
print(set1)

{1, 4, 'c', 'a', 'b'}

## Access Items

In [ ]:
set1 = {"a", "b", "c",1,4,True}
for x in set1:
  print(x)

1
a
4
b
c

In [ ]:
set1 = {"a", "b", "c",1,4,True}
print("c" in set1)

True

# Add Set Items
## Add Items

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.add("d")
print(set1)

{1, 'a', 4, 'd', 'b', 'c'}

## Add Sets

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set2 = {"d", "e", "f",7,9}
set1.update(set2)
print(set1)

{1, 4, 'd', 'e', 7, 'f', 9, 'c', 'a', 'b'}

## Add Any Iterable (lists,tuples,dictiopnary)

In [ ]:
# Add elements of a list to at set:
set1 = {"a", "b", "c",1,4,True}
list1 = ["d", "e", "f",7,9]
set1.update(list1)
print(set1)

{1, 4, 7, 9, 'c', 'a', 'b', 'd', 'e', 'f'}

In [ ]:
# Add elements of a tuple to at set:
set1 = {"a", "b", "c",1,4,True}
tuple1 = ("d", "e", "f",7,9)
set1.update(tuple1)
print(set1)

{1, 4, 7, 9, 'c', 'a', 'b', 'd', 'e', 'f'}

In [ ]:
# Add elements of a dictionary to at set:
set1 = {"a", "b", "c",1,4,True}
dict1 = {1:"d",2:"e",3:"f",4:7,5:9}
set1.update(dict1)
print(set1)

{1, 2, 3, 4, 5, 'c', 'a', 'b'}

## Remove Item

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.remove("b")
print(set1)

{1, 'a', 4, 'c'}

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.remove("d")
print(set1)
# O/P will be error.If the item to remove does not exist, remove() will raise an error.

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.discard("b")
print(set1)

{1, 'a', 4, 'c'}

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.discard("d")
print(set1)
# O/P will not be an error. If the item to remove does not exist, discard() will NOT raise an error.

{1, 'a', 4, 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.pop()
print(set1)

{'a', 4, 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c",1,4,True}
set1.clear()
print(set1)

set()

In [ ]:
set1 = {"a", "b", "c",1,4,True}
del set1
print(set1)  #this will raise an error because the set no longer exists

# **Join Sets**
## Union

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

In [ ]:
# Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 'a', 2, 3, 'b', 'c'}

## Join Multiple Sets

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {45.6, 5.6}
set4 = {30, False, True}

set5 = set1.union(set2, set3, set4)
print(set5)

{False, 1, 2, 3, 5.6, 'c', 45.6, 'a', 'b', 30}

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {45.6, 5.6}
set4 = {30, False, True}

set5 = set1 | set2 | set3 | set4
print(set5)

{False, 1, 2, 3, 5.6, 'c', 45.6, 'a', 'b', 30}

## Join a Set and a Tuple

In [ ]:
set1 = {"a", "b", "c"}
tuple1 = (1, 2, 3)

set2 = set1.union(tuple1)
print(set2)

{1, 2, 3, 'c', 'a', 'b'}

## Update

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'a', 2, 3, 'b', 'c'}

## Intersection

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1.intersection(set2)
print(set3)

{True, 'a'}

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1 & set2
print(set3)

{True, 'a'}

## Intersection_update()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set1.intersection_update(set2)
print(set1)

{True, 'a'}

## Difference

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1.difference(set2)
print(set3)

{'c', 'b'}

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1 - set2
print(set3)

{'c', 'b'}

## Difference_update()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set1.difference_update(set2)
print(set1)

{'b', 'c'}

## Symmetric Differences

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1.symmetric_difference(set2)
print(set3)

{'d', 'e', 'b', 'c'}

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set3 = set1 ^ set2
print(set3)

{'d', 'e', 'b', 'c'}

## Symmetric_difference_update()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "a",True}
set1.symmetric_difference_update(set2)
print(set1)

{'d', 'e', 'b', 'c'}

## Copy()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = set1.copy()
print(set2)

{1, 'a', 'c', 'b'}

## is_disjoint()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",False}
set3 = set1.isdisjoint(set2)
print(set3)

True

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True}
set3 = set1.isdisjoint(set2)
print(set3)

False

## issubset()

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True,"b","a","c"}
set3 = set1.issubset(set2)
print(set3)

True

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True,"b","a","c"}
set3 = set1 <= set2
print(set3)

True

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True,"b","a","c"}
set3 = set1 < set2
print(set3)

True

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True}
set3 = set1.issubset(set2)
print(set3)

False

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True}
set3 = set1 <= set2
print(set3)

False

In [ ]:
set1 = {"a", "b", "c",1}
set2 = {"d", "e", "f",True}
set3 = set1 < set2
print(set3)

False

## issuperset()

In [ ]:
set1 = {"d", "e", "f",True,"b","a","c"}
set2 = {"a", "b", "c",1}
set3 = set1.issuperset(set2)
print(set3)

True

In [ ]:
set1 = {"d", "e", "f",True,"b","a","c"}
set2 = {"a", "b", "c",1}
set3 = set1 >= set2
print(set3)

True

In [ ]:
set1 = {"d", "e", "f",True,"b","a","c"}
set2 = {"a", "b", "c",1}
set3 = set1 > set2
print(set3)

True

In [ ]:
set1 = {"d", "e", "f",True,False}
set2 = {"a", "b", "c",1}
set3 = set1.issuperset(set2)
print(set3)

False

In [ ]:
set1 = {"d", "e", "f",True,False}
set2 = {"a", "b", "c",1}
set3 = set1 >= set2
print(set3)

False

In [ ]:
set1 = {"d", "e", "f",True,False}
set2 = {"a", "b", "c",1}
set3 = set1 > set2
print(set3)

False